<h1 align="center">Update</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form action="/users/update?id=<%= @user.id %>" accept-charset="UTF-8" method="post">
      <table align="center">
        <tbody>
          <tr>
            <td align="center">
              <label for="user_firstname">Firstname</label>
              <input type="text" value="<%= @user.firstname %>" name="user[firstname]" id="user_firstname">
            </td>
          </tr>
          <tr>
            <td align="center">
              <label for="user_lastname">Lastname</label>
              <input type="text" value="<%= @user.lastname %>" name="user[lastname]" id="user_lastname">
            </td>
          </tr>
          <tr>
            <td align="center">
              <label for="user_salary">Salary</label>
              <input type="text" value="<%= @user.salary %>" name="user[salary]" id="user_salary">
            </td>
          </tr>
          <tr>
            <td align="center">
              <input type="submit" name="commit" value="Save changes" class="btn btn-primary">
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
