<h1>Registration</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form class="new_user" id="new_user" action="/" accept-charset="UTF-8" method="post">
      <table align="center">
        <tbody>
          <tr>
            <td align="center"><label for="user_firstname">Firstname</label>
                <input type="text" name="user[firstname]" id="user_firstname"><br>
            </td>
          </tr>
          <tr>
            <td align="center">
                <label for="user_lastname">Lastname</label>
                <input type="text" name="user[lastname]" id="user_lastname"><br>
            </td>
          </tr>
          <tr>
            <td align="center">
                <label for="user_salary">Salary</label>
                <input type="text" name="user[salary]" id="user_salary"><br>
            </td>
          </tr>
          <tr>
            <td align="center">
                <input type="submit" name="commit" value="Save user" class="btn btn-primary" data-disable-with="Save user">
                <a class="button" href="/users">Show all</a>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>








